.btn_search {
    font-size: 15px;
    padding: 1px 10px 0px 10px;
    width: 80%;
    line-height: 40px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border: 2px solid darkgray;
    border-left: none;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.search_icon {
    border: 2px solid darkgray;
    padding: 12px;
    font-size: 15px;
    color: gray;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-right: none;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    background: #e7e6e3;
}

.text_align_center {
    text-align: center;
    margin-bottom: 10px;
}

input {
    outline: none;
}